<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{deleteStudent/submit}" method="POST" >
<fieldset>
<legend>Borrado</legend>
<h1>Desea borrar el estudiante:</h1>
<h1 th:text="${student}"></h1>
<!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="addStudent"></label>
                    <div class="col-md-4">
                        <button id="addStudent" name="addStudent" class="btn btn-primary">D
                        Delete Student</button>
                    </div>
                </div>

</fieldset>
</form>

</body>
</html>