<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Lista de Empleados</title>
  </head>
  <body>
    
      <div class="container">
    	<div class="starter-template">
    		<h1>Listado de Empleados</h1>
    		<table class="table">
    			<thead>
    				<tr>
   
    					<th>NOMBRE</th>
    					<th>APELLIDO</th>
    					<th>EDAD</th>
    					<th>Borrar</th>
    					<th>Actualizar</th>
    				</tr>
    			</thead>
    			
    			<tbody>
    				<tr th:each="student :${listStudent}">
    					<td th:text="${student.name}"></td>
    					<td th:text="${student.surname}"></td>
    					<td th:text="${student.age}"></td>
    					<td><a th:href="@{'deleteStudent'(name=${student.name},surname=${student.surname})}">
    						<button>Borrar</button>
    					</a></td>
    					<td><a th:href="@{'updateStudent'(name=${student.name},surname=${student.surname})}">
    						<button>Actualizar</button>
    					</a></td>
    				</tr>
    			</tbody>
    		
    		</table>
    	</div>
    	<form class="form-horizontal" method="GET" action="addStudent">
            <fieldset>
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="addStudent"></label>
                    <div class="col-md-4">
                        <button id="addStudent" name="addStudent" class="btn btn-primary">Add
                            Student</button>
                    </div>
                </div>

            </fieldset>
        </form>
        
    </div>